body{
    background-color: rgb(18, 68, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
p{
    font-size: large;
}